@model RainIt.Domain.DTO.DeviceDTO
@Html.Partial("_Alert")
<div class="container">
    <div class="form-group">
        <div class="input-group guid-input">
            <label for="GUID" class="input-group-addon">
                <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span>
                <span class="sr-only">GUID:</span>
            </label>
            @Html.TextBox("identifier", "", new {@class = "form-control", placeholder = "00000000-0000-0000-0000-000000000000"})
        </div>
    </div>
    <div class="form-group">
        <div class="input-group">
            <label for="Name" class="input-group-addon">
                <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
                <span class="sr-only">Name:</span>
            </label>
            @Html.TextBox("name", "", new {@class = "form-control", placeholder = "Name"})
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-primary btn-block" type="submit" id="addDevice" name="addDeviceButton">Add</button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-danger btn-block" type="submit" id="cancelAdd" name="cancelAddDeviceButton">Cancel</button>
        </div>
    </div>
</div>
@using (Html.BeginForm("Add", "Device", new {area = "Configuration"}, FormMethod.Post, new {id = "submitAddDeviceForm"}))
{
    @Html.HiddenFor(m => m.Identifier, "")
    @Html.HiddenFor(m => m.Name, "")
}
@using (Html.BeginForm("Index", "Device", new {area = "Configuration"}, FormMethod.Get, new {id = "cancelAddDeviceForm"}))
{
    
}
<script type="text/javascript">
    (function() {
        this.DeviceAddProperties = this.DeviceAddProperties || {};

        var validator = (function() {
            var properties = {};

            function validateDeviceName(contentArray) {
                return $('#Name').val().trim() != "" && $('#Name').val().trim().length <= Number('50') ? true : contentArray.push("A device name must be specified with length less than " + '50' + " characters");
            }
            
            function validateIdentifier(contentArray) {
                return /^[0-9a-f]{8}-[0-9a-f]{4}-[1-5][0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$/i.test($('#Identifier').val()) ? true : contentArray.push("The device identifier is not in a correct format.");
            }

            function validate() {
                var contentArray = [];
                var isDeviceNameValid = validateDeviceName(contentArray);
                var isIdentifierValid = validateIdentifier(contentArray);

                if (contentArray.length > 0) {
                    AlertProperties.Initialize({ Class: "alert-danger", Content: contentArray });
                }
                return isDeviceNameValid === true
                    && isIdentifierValid === true;
            }

            properties.Validate = function() {
                return validate();
            }
            return properties;
        }());
        var addButton = (function () {
            var properties = {};
            function addClickListener() {
                $('#addDevice').click(function () {
                    $('#Identifier').val($('#identifier').val());
                    $('#Name').val($('#name').val());
                    AlertProperties.Hide();
                    if (validator.Validate()) {
                        $('#submitAddDeviceForm').submit();
                    }
                });
            }
            properties.Initialize = function () {
                addClickListener();
            }
            return properties;
        }());

        var cancelButton = (function() {
            var properties = {};
            function addClickListener() {
                $('#cancelAdd').click(function() {
                    $('#cancelAddDeviceForm').submit();
                });
            }
            properties.Initialize = function() {
                addClickListener();
            }
            return properties;
        }());

        DeviceAddProperties.Initialize = function() {
            addButton.Initialize();
            cancelButton.Initialize();
        }
    }());
    $(document).ready(function() {
        DeviceAddProperties.Initialize();
    });
</script>