@using JQueryUIHelpers
@using RainIt.Domain.DTO
@model PatternDTO
@using Web.RainIt.Models
@{
    ViewBag.Title = "Add Pattern";
    var constraintParameters = ViewBag.ConstraintParameters as UploadConstraintParameters ?? new UploadConstraintParameters();
}
<script src="~/Scripts/fileinput.js"></script>
<link href="~/Content/fileinput.css" rel="stylesheet"/>
<style>
    /* This will solve the problem about the file upload displaying incorrectly*/
    .form-control {
        padding: 0px 12px;
    }
    /* This will bundle the input groups together*/
    .container .input-group:not(:first-of-type) .input-group-addon, .container .input-group:not(:first-of-type) .form-control {
        -ms-border-top-left-radius: 0;
        border-top-left-radius: 0;
        -ms-border-top-right-radius: 0;
        border-top-right-radius: 0;
        border-top: none;
    }

    .container .input-group:not(:last-of-type) .input-group-addon, .container .input-group:not(:last-of-type) .form-control {
        -ms-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -ms-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: none;
    }

    /* This will disable the spinner buttons that break the layout*/
    .ui-spinner a.ui-spinner-button {
        display: none;
    }

    /* This will set the slider background color*/
    div[data-jqui-slider-names='RWeight'] .ui-slider-range {
        background: red;
    }
    div[data-jqui-slider-names='GWeight'] .ui-slider-range {
        background: green;
    }
    div[data-jqui-slider-names='BWeight'] .ui-slider-range {
        background: blue;
    }
    div[data-jqui-slider-names='Threshold'] .ui-slider-range {
        background: black;
    }
</style>
<br/>
<br/>
<br />
@{
    var message = TempData["StatusMessage"] as StatusMessage;
    if (message != null)
    {
        <div class="alert @(message.IsError ? "alert-danger" : "alert-success") alert-disimissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <ul>
                <li>@message.Message</li>
            </ul>
        </div>
    }
}
@Html.Partial("_Alert")
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="row">
                <div id="transformation-settings" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <strong>
                                Transformation Settings
                            </strong>
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div class="input-group">
                            <label for="rWeight" class="input-group-addon">
                                <span class="glyphicon glyphicon-tint red" aria-hidden="true"></span>
                                <span class="sr-only">R Weight:</span>
                            </label>
                            <div class="form-control">
                                @Html.JQueryUI().Slider("RWeight", (int)(Model.ConversionParameterDTO.RWeight)).Range(SliderRange.Min)
                            </div>
                            <span class="input-group-addon">%</span>
                        </div>
                        <div class="input-group">
                            <label for="gWeight" class="input-group-addon">
                                <span class="glyphicon glyphicon-tint green" aria-hidden="true"></span>
                                <span class="sr-only">G Weight:</span>
                            </label>
                            <div class="form-control">
                                @Html.JQueryUI().Slider("GWeight", (int)(Model.ConversionParameterDTO.GWeight)).Range(SliderRange.Min)
                            </div>
                            <span class="input-group-addon">%</span>
                        </div>
                        <div class="input-group">
                            <label for="bWeight" class="input-group-addon">
                                <span class="glyphicon glyphicon-tint blue" aria-hidden="true"></span>
                                <span class="sr-only">B Weight:</span>
                            </label>
                            <div class="form-control">
                                @Html.JQueryUI().Slider("BWeight", (int)(Model.ConversionParameterDTO.BWeight)).Range(SliderRange.Min)
                            </div>
                            <span class="input-group-addon">%</span>
                        </div>
                        <div class="input-group">
                            <label for="threshold" class="input-group-addon">
                                <span class="glyphicon glyphicon-adjust" aria-hidden="true"></span>
                                <span class="sr-only">BW Threshold:</span>
                            </label>
                            <div class="form-control">
                                @Html.JQueryUI().Slider("Threshold", (int)Model.ConversionParameterDTO.ThresholdPercentage).Range(SliderRange.Min)
                            </div>
                            <span class="input-group-addon">%</span>
                        </div>
                        <div class="btn-group btn-block" data-toggle="buttons">
                            <label class="btn btn-default btn-block">
                                @Html.CheckBox("IsInverted") <img src="../../../../Content/icons/invert.png" style="max-height: 20px;"/>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            <strong>
                                Multiselect
                            </strong>
                        </h3>
                    </div>
                    <div class="panel-body">
                        @Html.Action("Multiselect", "Device", new {area = "Configuration"})
                        <button type="submit" name="test" id="Test" value="test" class="btn btn-info">Test</button>
                    </div>
                </div>
                <div id="image-details" class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Image Details</strong>
                        </h3>
                    </div>
                    <div class="panel-body">

                        <div class="input-group">
                            <label for="threshold" class="input-group-addon">
                                <span class="glyphicon glyphicon-resize-vertical" aria-hidden="true"></span>
                                <span class="sr-only">New Height:</span>
                            </label>
                            <div class="form-control">
                                @Html.JQueryUI().Spinner("Height")
                            </div>
                            <span class="input-group-addon">px</span>
                        </div>
                        <div class="input-group" style="border-bottom: 1px solid #cccccc;">
                            <label for="threshold" class="input-group-addon">
                                <span class="glyphicon glyphicon-resize-horizontal" aria-hidden="true"></span>
                                <span class="sr-only">New Width:</span>
                            </label>
                            <div class="form-control">
                                @Html.JQueryUI().Spinner("Width")
                            </div>
                            <span class="input-group-addon">px</span>
                        </div>
                        <div class="input-group">
                            <label for="threshold" class="input-group-addon">
                                <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
                                <span class="sr-only">Name:</span>
                            </label>
                            <div class="form-control">
                                <input type="text" id="fileName"/>
                            </div>
                        </div>
                        <div class="btn-group btn-block" data-toggle="buttons" style="max-height: 20px; width: 100%;">
                            <label class="btn btn-default btn-block">
                                @Html.CheckBox("IsProportional")
                                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
                                <span class="sr-only">Is Proportional:</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <input type="file" id="filePicker"/>
                <button type="submit" name="add" id="Add" value="add" class="btn btn-success">@(Model.PatternId != 0 ? "Update": "Add")</button>@Html.Raw(" ")
                <button type="submit" name="cancel" id="Cancel" value="cancel" class="btn btn-danger">Cancel</button>
                @using (Html.BeginForm("Index", "Pattern", new {area = "Configuration"}, FormMethod.Get, new {@style = "display:none;", @id = "cancelForm"}))
                {
                }
            </div>
        </div>
        <div class="col-md-8">
            <div id="img-preview" class="container">
                <div class="row">
                    <div class="col-md-4 col-xs-4">
                        <div class="limit-add img-holder img-container">
                            <img id="imagePreview" src=""/>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="limit-add img-holder img-container">
                            <img id="grayscaleImagePreview" src=""/>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-4">
                        <div class="limit-add img-holder img-container">
                            <img id="blackWhitePreview" src=""/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Hidden("originalWidth", "")
@Html.Hidden("originalHeight", "")
@Html.Hidden("originalImage", "")
<script src="~/Scripts/custom-ajaxLoadingAnimation.js"></script>
<script type="text/javascript">
    (function () {
        this.AddPatternProperties = this.AddPatternProperties || {};
        //Helper Classes
        var imageData = (function () {
            var properties = {};
            properties.BlankImageString = 'data:image/png;base64,R0lGODlhAQABAIAAAAAAAP///ywAAAAAAQABAAACAUwAOw==';
            properties.GetBase64String = function (imageString) {
                var base64Start = imageString.indexOf("base64,");
                if (base64Start >= 0) {
                    imageString = imageString.slice(base64Start + 7);
                }
                return imageString;
            }
            properties.GetImageFromInput = function (input) {
                if (input.files && input.files[0]) {
                    var img = new Image();
                    var _URL = window.URL || window.webkitURL;
                    img.src = _URL.createObjectURL(input.files[0]);
                    return img;
                }
                return null;
            }

            properties.GetBase64StringFromUrl = function (image, callback) {
                var canvas = document.createElement('CANVAS');
                var ctx = canvas.getContext('2d');
                canvas.height = image.height;
                canvas.width = image.width;
                ctx.drawImage(image, 0, 0);
                var dataURL = canvas.toDataURL('image/png');
                callback(dataURL);
                canvas = null;
            }
            return properties;
        }());
        var resize = (function () {
            var properties = {};

            properties.ResizeTo = function (targetWidth, targetHeight) {
                var originalRatio = originalWidth.GetValue() / originalHeight.GetValue();
                targetWidth = !isProportional.GetValue() && targetWidth == null ? width.GetValue() : targetWidth;
                targetHeight = !isProportional.GetValue() && targetHeight == null ? height.GetValue() : targetHeight;
                if (targetWidth == null) {
                    targetWidth = originalRatio * targetHeight;
                }
                if (targetHeight == null) {
                    targetHeight = targetWidth / originalRatio;
                }
                var currentRatio = targetWidth / targetHeight;
                if (isProportional.GetValue() && currentRatio != originalRatio) {
                    targetWidth = originalRatio * targetHeight;
                }
                width.SetValue(targetWidth);
                height.SetValue(targetHeight);
                var targetRatio = targetWidth / targetHeight;
                if (targetHeight > $('.img-holder').height()) {
                    targetHeight = $('.img-holder').height();
                }
                targetWidth = targetRatio * targetHeight;
                if (targetWidth > $('.img-holder').width()) {
                    targetWidth = $('.img-holder').width();
                }
                targetHeight = targetWidth / targetRatio;
                normalImageHolder.SetSize(targetWidth, targetHeight);
                grayscaleImageHolder.SetSize(targetWidth, targetHeight);
                blackWhiteImageHolder.SetSize(targetWidth, targetHeight);
            }
            return properties;
        }());
        //Hidden Inputs
        var browserWindow = (function () {
            var properties = {};
            function addResizeListener() {
                if (originalImage.GetValue() != "") {
                    resize.ResizeTo(width.GetValue(), height.GetValue());
                }
            }
            properties.Initialize = function () {
                addResizeListener();
            }
            return properties;
        }());
        var originalImage = (function () {
            var properties = {};
            properties.GetValue = function () {
                return $('#originalImage').val();
            }
            properties.SetValue = function (value) {
                $('#originalImage').val(value);
            }

            properties.Initialize = function () {
                if ('@Model.Base64Image' != "") {
                    $('#originalImage').val('@Model.Base64Image');
                }
            }
            return properties;
        }());
        var originalWidth = (function () {
            var properties = {};
            properties.GetValue = function () {
                return $('#originalWidth').val();
            }
            properties.SetValue = function (value) {
                $('#originalWidth').val(value);
            }
            properties.Initialize = function () {
                if ('@Model.Width' != "0") {
                    properties.SetValue('@Model.Width');
                }
                else properties.SetValue("");
            }
            return properties;
        }());
        var originalHeight = (function () {
            var properties = {};
            properties.GetValue = function () {
                return $('#originalHeight').val();
            }
            properties.SetValue = function (value) {
                $('#originalHeight').val(value);
            }
            properties.Initialize = function () {
                if ('@Model.Height' != "0") {
                    properties.SetValue('@Model.Height');
                }
                else properties.SetValue("");
            }
            return properties;
        }());
        //Image Details
        var fileName = (function () {
            var properties = {};
            properties.GetValue = function () {
                return $('#fileName').val();
            }
            properties.SetValue = function (value) {
                $('#fileName').val(value);
            }
            properties.Disable = function () {
                $('#fileName').attr('disabled', true);
            }
            properties.Enable = function () {
                $('#fileName').attr('disabled', false);
            }
            properties.Initialize = function () {
                if ('@Model.Name' != "") {
                    properties.SetValue('@Model.Name');
                }
            }
            return properties;
        }());
        var height = (function () {
            var properties = {};
            properties.GetValue = function () {
                return $('#Height').val();
            }
            properties.SetValue = function (value) {
                $('#Height').val(value);
            }
            properties.Disable = function () {
                $('#Height').attr('disabled', true);
            }
            properties.Enable = function () {
                $('#Height').attr('disabled', false);
            }
            function addChangeListener() {
                $('#Height').parent().on('spinchange', function () {
                    if (originalImage.GetValue() != "") {
                        resize.ResizeTo(null, height.GetValue());
                    }
                });
            }
            properties.Initialize = function () {
                if ('@Model.Height' != "0") {
                    properties.SetValue('@Model.Height');
                }
                else properties.SetValue("");
                addChangeListener();
            }
            return properties;
        }());
        var width = (function () {
            var properties = {};
            properties.GetValue = function () {
                return $('#Width').val();
            }
            properties.SetValue = function (value) {
                $('#Width').val(value);
            }
            properties.Disable = function () {
                $('#Width').attr('disabled', true);
            }
            properties.Enable = function () {
                $('#Width').attr('disabled', false);
            }
            function addChangeListener() {
                $('#Width').parent().on('spinchange', function () {
                    if (originalImage.GetValue() != "") {
                        resize.ResizeTo(width.GetValue(), null);
                    }
                });
            }
            properties.Initialize = function () {
                if ('@Model.Width' != "0") {
                    properties.SetValue('@Model.Width');
                }
                else properties.SetValue("");
                addChangeListener();
            }
            return properties;
        }());
        var isProportional = (function () {
            var properties = {};
            function addChangeListener() {
                $('#IsProportional').change(function () {
                    if (originalImage.GetValue() != "") {
                        resize.ResizeTo(width.GetValue(), height.GetValue());
                    }
                });
            }
            properties.Disable = function () {
                $('#IsProportional').parent().attr('disabled', true);
            }
            properties.Enable = function () {
                $('#IsProportional').parent().attr('disabled', false);
            }
            properties.GetValue = function () {
                return $('#IsProportional').is(":checked");
            }
            properties.SetValue = function (value) {
                $('#IsProportional').prop("checked", value);
            }
            properties.Initialize = function () {
                addChangeListener();
            }
            return properties;
        }());
        //Transformation Settings
        var slider = (function () {
            var properties = {};
            properties.RWeight = (function () {
                var properties = {};
                function addChangeListener() {
                    $('#RWeight').parent().on('slidechange', function () {
                        grayscaleImageHolder.GetGrayscale();
                    });
                }
                properties.Initialize = function () {
                    addChangeListener();
                }
                properties.GetValue = function () {
                    return $('#RWeight').val();
                }
                properties.SetValue = function (value) {
                    $('#RWeight').parent().slider({ value: value });
                    $('#RWeight').parent().slider("value", value);
                    $('#RWeight').val(value);

                }
                return properties;
            }());
            properties.GWeight = (function () {
                var properties = {};
                function addChangeListener() {
                    $('#GWeight').parent().on('slidechange', function () {
                        grayscaleImageHolder.GetGrayscale();
                    });
                }
                properties.Initialize = function () {
                    addChangeListener();
                }
                properties.GetValue = function () {
                    return $('#GWeight').val();
                }
                properties.SetValue = function (value) {
                    $('#GWeight').parent().slider({ value: value });
                    $('#GWeight').parent().slider("value", value);
                    $('#GWeight').val(value);

                }
                return properties;
            }());
            properties.BWeight = (function () {
                var properties = {};
                function addChangeListener() {
                    $('#BWeight').parent().on('slidechange', function () {
                        grayscaleImageHolder.GetGrayscale();
                    });
                }
                properties.Initialize = function () {
                    addChangeListener();
                }
                properties.GetValue = function () {
                    return $('#BWeight').val();
                }
                properties.SetValue = function (value) {
                    $('#BWeight').parent().slider({ value: value });
                    $('#BWeight').parent().slider("value", value);
                    $('#BWeight').val(value);

                }
                return properties;
            }());
            properties.Threshold = (function () {
                var properties = {};
                function addChangeListener() {
                    $('#Threshold').parent().on('slidechange', function () {
                        blackWhiteImageHolder.GetBlackWhite();
                    });
                }
                properties.Initialize = function () {
                    addChangeListener();
                }
                properties.GetValue = function () {
                    return $('#Threshold').val();
                }
                properties.SetValue = function (value) {
                    $('#Threshold').parent().slider({ value: value });
                    $('#Threshold').parent().slider("value", value);
                    $('#Threshold').val(value);
                }
                return properties;
            }());

            function removeDisplay() {
                $('.ui-slider').parent().children('span').hide();
            }
            properties.DisableAll = function () {

            }
            properties.EnableAll = function () {

            }
            properties.Initialize = function () {
                removeDisplay();
                slider.RWeight.Initialize();
                slider.GWeight.Initialize();
                slider.BWeight.Initialize();
                slider.Threshold.Initialize();
            }
            return properties;
        }());
        var isInverted = (function () {
            var properties = {};
            function addChangeListener() {
                $('#IsInverted').change(function () {
                    blackWhiteImageHolder.GetBlackWhite();
                });
            }
            properties.Disable = function () {
                $('#IsInverted').parent().attr('disabled', true);
            }
            properties.Enable = function () {
                $('#IsInverted').parent().attr('disabled', false);
            }
            properties.Initialize = function () {
                if ('@Model.ConversionParameterDTO.IsInverted' != "") {
                    if ('@Model.ConversionParameterDTO.IsInverted' == "True") {
                        $('#IsInverted').parent().addClass("active");
                        properties.SetValue('@Model.ConversionParameterDTO.IsInverted', true);
                    }
                }
                addChangeListener();
            }
            properties.GetValue = function () {
                return $('#IsInverted').is(":checked");
            }
            properties.SetValue = function (value) {
                $('#IsInverted').prop("checked", value);
            }
            return properties;
        }());
        //Buttons
        var cancelButton = (function () {
            var properties = {};
            function addClickListener() {
                $('#Cancel').click(function () {
                    $('#cancelForm').submit();
                });
            }
            properties.Initialize = function () {
                addClickListener();
            }
            return properties;
        }());
        var filePicker = (function () {
            var properties = {};
            function addChangeListener() {
                $("#filePicker").change(function () {
                    normalImageHolder.ResetSize();
                    grayscaleImageHolder.ResetSize();
                    blackWhiteImageHolder.ResetSize();
                    fileName.SetValue($(this).val().split('\\').pop());
                    normalImageHolder.UpdateFromInput(this);
                    var image = imageData.GetImageFromInput(this);
                    if (image != null) {
                        image.onload = function () {
                            originalWidth.SetValue(image.width);
                            originalHeight.SetValue(image.height);
                            width.SetValue(image.width);
                            height.SetValue(image.height);
                        }
                    } else {
                        originalWidth.SetValue("");
                        originalHeight.SetValue("");
                        originalImage.SetValue("");
                        width.SetValue("");
                        height.SetValue("");
                    }
                });
            }

            properties.Initialize = function () {
                $("#filePicker").fileinput({
                    showPreview: false,
                    showRemove: false,
                    showUpload: false,
                    showCaption: false,
                    allowedFileTypes: ['image'],
                    allowedFileExtensions: ['jpg', 'gif', 'png']
                });
                addChangeListener();
            }
            return properties;
        }());
        var addButton = (function () {
            var properties = {};
            function onAjaxSuccess(data) {
                window.location.href = data;
            }
            function getData() {
                var data = {
                    PatternUploadModel: {
                        PatternId: '@Model.PatternId',
                        FileName: fileName.GetValue(),
                        Base64Image: originalImage.GetValue(),
                        AbsoluteResizeParameters: {
                            OriginalWidth: originalWidth.GetValue(),
                            OriginalHeight: originalHeight.GetValue(),
                            TargetWidth: width.GetValue(),
                            TargetHeight: height.GetValue(),
                            IsProportional: isProportional.GetValue()
                        },
                        BlackWhiteConversionParameters: {
                            IsBlackWhite: true,
                            IsInverted: isInverted.GetValue(),
                            ThresholdPercentage: slider.Threshold.GetValue()
                        },
                        ColorRelativeWeight: {
                            RWeight: slider.RWeight.GetValue(),
                            GWeight: slider.GWeight.GetValue(),
                            BWeight: slider.BWeight.GetValue()
                        }
                    }
                };
                return data;
            }
            function makeAjaxCall() {
                $.ajax({
                    url: '@Url.Action("Add", "Pattern", new{area ="Configuration"})',
                    data: getData(),
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    success: onAjaxSuccess
                });
            }
            function validate() {
                var contentArray = [];
                var isFileNameValid = fileName.GetValue().trim() != "" && fileName.GetValue().trim().length <= Number('@constraintParameters.MaxNameLength') ? true : contentArray.push("A file name must be specified with length less than " + '@constraintParameters.MaxNameLength' + " characters");
                var isImageDataValid = imageData.GetBase64String(blackWhiteImageHolder.GetRawSrc()) != "" && imageData.GetBase64String(blackWhiteImageHolder.GetRawSrc()) != imageData.GetBase64String(imageData.BlankImageString) ? true : contentArray.push("No black & white image data found");
                var isOriginalWidthValid = originalWidth.GetValue() != "" && originalWidth.GetValue() != 0;
                var isOriginalHeightValid = originalHeight.GetValue() != "" && originalHeight.GetValue() != 0;
                var isWidthValid = width.GetValue() != "" && width.GetValue() != 0 && width.GetValue() <= Number('@constraintParameters.MaxWidth') ? true : contentArray.push("Specified width dimension is not valid. The value cannot exceed " + '@constraintParameters.MaxWidth' + "px");
                var isHeightValid = height.GetValue() != "" && height.GetValue() != 0 && height.GetValue() <= Number('@constraintParameters.MaxHeight') ? true : contentArray.push("Specified height dimension is not valid. The value cannot exceed " + '@constraintParameters.MaxHeight' + "px");

                if (contentArray.length > 0) {
                    AlertProperties.Initialize({ Class: "alert-danger", Content: contentArray });
                }
                return isFileNameValid === true
                    && isImageDataValid === true
                    && isImageDataValid === true
                    && isOriginalWidthValid === true
                    && isOriginalHeightValid === true
                    && isWidthValid === true
                    && isHeightValid === true;
            }

            function addClickListener() {
                $('#Add').click(function () {
                    if (validate()) {
                        makeAjaxCall();
                    }
                });
            }
            properties.Initialize = function () {
                addClickListener();
            }
            properties.Disable = function () {
                $('#Add').attr('disabled', 'disabled');
            }
            properties.Enable = function () {
                $('#Add').removeAttr('disabled');
            }
            return properties;
        }());
        var testButton = (function () {
            var properties = {};
            function onAjaxSuccess() {

            }
            function makeAjaxCall(imageBase64String, selectedDevices) {
                $.ajax({
                    url: '@Url.Action("Test", "Pattern", new{area ="Configuration"})',
                    data: {
                        base64Image: imageBase64String,
                        deviceIdentifierList: selectedDevices
                    },
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    success: onAjaxSuccess
                });
            }
            function validate() {
                var contentArray = [];
                var areSelectedDevicesValid = DeviceMultiselectProperties.GetSelectedDevices().length > 0  ? true : contentArray.push("At least one device must be selected");
                var isImageDataValid = imageData.GetBase64String(blackWhiteImageHolder.GetRawSrc()) != "" && imageData.GetBase64String(blackWhiteImageHolder.GetRawSrc()) != imageData.GetBase64String(imageData.BlankImageString) ? true : contentArray.push("No black & white image data found");
                var isOriginalWidthValid = originalWidth.GetValue() != "" && originalWidth.GetValue() != 0;
                var isOriginalHeightValid = originalHeight.GetValue() != "" && originalHeight.GetValue() != 0;
                var isWidthValid = width.GetValue() != "" && width.GetValue() != 0 && width.GetValue() <= Number('@constraintParameters.MaxWidth') ? true : contentArray.push("Specified width dimension is not valid. The value cannot exceed " + '@constraintParameters.MaxWidth' + "px");
                var isHeightValid = height.GetValue() != "" && height.GetValue() != 0 && height.GetValue() <= Number('@constraintParameters.MaxHeight') ? true : contentArray.push("Specified height dimension is not valid. The value cannot exceed " + '@constraintParameters.MaxHeight' + "px");

                if (contentArray.length > 0) {
                    AlertProperties.Initialize({ Class: "alert-danger", Content: contentArray });
                }
                return areSelectedDevicesValid === true
                    && isImageDataValid === true
                    && isImageDataValid === true
                    && isOriginalWidthValid === true
                    && isOriginalHeightValid === true
                    && isWidthValid === true
                    && isHeightValid === true;
            }
            function addClickListener() {
                $('#Test').click(function () {
                    if (validate()) {
                        makeAjaxCall(imageData.GetBase64String(blackWhiteImageHolder.GetRawSrc()), DeviceMultiselectProperties.GetSelectedDevices());
                    }
                });
            }
            properties.Initialize = function() {
                addClickListener();
            }
            return properties;
        }());
        //Image Holders
        var grayscaleImageHolder = (function () {
            var properties = {};
            function addLoadListener() {
                $('#grayscaleImagePreview').on('load', function () {
                    blackWhiteImageHolder.GetBlackWhite();
                });
            }
            properties.SetSize = function (targetWidth, targetHeight) {
                $('#grayscaleImagePreview').attr('width', targetWidth);
                $('#grayscaleImagePreview').attr('height', targetHeight);
            }
            properties.ResetSize = function () {
                $('#grayscaleImagePreview').removeAttr('width');
                $('#grayscaleImagePreview').removeAttr('height');
            }
            properties.GetRawSrc = function () {
                return $('#grayscaleImagePreview').attr('src');
            }
            function onAjaxSuccess(data) {
                if (data.hasOwnProperty("grayScaleFile")) {
                    $('#grayscaleImagePreview').parent().removeAjaxLoadingAnimation();
                    $('#grayscaleImagePreview').attr("src", "data:image/png;base64," + data.grayScaleFile);
                }
            }

            properties.GetGrayscale = function () {
                if (normalImageHolder.GetRawSrc() != imageData.BlankImageString && normalImageHolder.GetRawSrc() != "") {
                    $('#grayscaleImagePreview').parent().addClass("invisible-background");
                    $('#grayscaleImagePreview').parent().setAjaxLoadingAnimation();
                    var url = '@Url.Action("GetGrayscaleFor", "Pattern", new { area = "Configuration" }, null)' + "?colorRelativeWeight.RWeight=-1&colorRelativeWeight.GWeight=-2&colorRelativeWeight.BWeight=-3";
                    url = url.replace("-1", slider.RWeight.GetValue());
                    url = url.replace("-2", slider.GWeight.GetValue());
                    url = url.replace("-3", slider.BWeight.GetValue());
                    $.ajax({
                        url: url,
                        data: { base64Image: imageData.GetBase64String(normalImageHolder.GetRawSrc()) },
                        type: "POST",
                        contentType: "application/x-www-form-urlencoded",
                        success: onAjaxSuccess
                    });
                } else {
                    $('#grayscaleImagePreview').parent().removeClass("invisible-background");
                    $('#grayscaleImagePreview').attr('src', imageData.BlankImageString);
                }
            }
            properties.Initialize = function () {
                addLoadListener();
            }
            return properties;
        }());

        var normalImageHolder = (function () {
            var properties = {};
            function addLoadListener() {
                $('#imagePreview').on('load', function () {
                    grayscaleImageHolder.GetGrayscale();
                });
            }
            properties.SetSize = function (targetWidth, targetHeight) {
                $('#imagePreview').attr('width', targetWidth);
                $('#imagePreview').attr('height', targetHeight);
            }
            properties.ResetSize = function () {
                $('#imagePreview').removeAttr('width');
                $('#imagePreview').removeAttr('height');
            }
            properties.Initialize = function () {
                if ('@Model.Base64Image' != "") {
                    $('#imagePreview').parent().addClass("invisible-background");
                    $('#imagePreview').attr("src", "data:image/png;base64," + '@Model.Base64Image');
                }
                addLoadListener();
            }
            properties.GetRawSrc = function () {
                return $('#imagePreview').attr('src');
            }
            function onLoad(e) {
                $('#imagePreview').parent().addClass("invisible-background");
                $('#imagePreview').parent().removeAjaxLoadingAnimation();
                $('#imagePreview').attr('src', e.target.result);
                originalImage.SetValue(imageData.GetBase64String(e.target.result));
            }
            properties.UpdateFromInput = function (input) {
                if (input.files && input.files[0]) {
                    $('#imagePreview').parent().setAjaxLoadingAnimation();
                    var reader = new FileReader();
                    reader.onload = onLoad;
                    reader.readAsDataURL(input.files[0]);
                } else {
                    $('#imagePreview').parent().removeAjaxLoadingAnimation();
                    $('#imagePreview').parent().removeClass("invisible-background");
                    $('#imagePreview').attr('src', imageData.BlankImageString);
                }
            }
            return properties;
        }());

        var blackWhiteImageHolder = (function () {
            var properties = {};
            function addLoadListener() {
                $('#blackWhitePreview').on('load', function () {
                });
            }
            properties.SetSize = function (targetWidth, targetHeight) {
                $('#blackWhitePreview').attr('width', targetWidth);
                $('#blackWhitePreview').attr('height', targetHeight);
            }
            properties.ResetSize = function () {
                $('#blackWhitePreview').removeAttr('width');
                $('#blackWhitePreview').removeAttr('height');
            }
            properties.Initialize = function () {
                addLoadListener();
            }
            function onAjaxSuccess(data) {
                if (data.hasOwnProperty("blackWhiteFile")) {
                    $('#blackWhitePreview').parent().removeAjaxLoadingAnimation();
                    $('#blackWhitePreview').attr("src", "data:image/png;base64," + data.blackWhiteFile);
                    $('#base64Image').val(data.blackWhiteFile);
                }
            }
            properties.GetBlackWhite = function () {
                if (grayscaleImageHolder.GetRawSrc() != imageData.BlankImageString && grayscaleImageHolder.GetRawSrc() != "") {
                    $('#blackWhitePreview').parent().addClass("invisible-background");
                    $('#blackWhitePreview').parent().setAjaxLoadingAnimation();
                    var url = '@Url.Action("GetBlackWhiteFor", "Pattern", new { area = "Configuration" }, null)' + "?isInverted=-1&thresholdPercentage=-2";
                    url = url.replace("-1", isInverted.GetValue());
                    url = url.replace("-2", (slider.Threshold.GetValue() == "" ? 0 : slider.Threshold.GetValue()));
                    $.ajax({
                        url: url,
                        data: { base64Image: imageData.GetBase64String(grayscaleImageHolder.GetRawSrc()) },
                        type: "POST",
                        contentType: "application/x-www-form-urlencoded",
                        success: onAjaxSuccess
                    });
                } else {
                    $('#blackWhitePreview').parent().removeClass("invisible-background");
                    $('#blackWhitePreview').attr('src', imageData.BlankImageString);
                }
            }
            properties.GetRawSrc = function () {
                return $('#blackWhitePreview').attr('src');
            }
            return properties;
        }());





        AddPatternProperties.SetupPage = function () {
            //Hidden Inputs
            browserWindow.Initialize();
            originalWidth.Initialize();
            originalHeight.Initialize();
            originalImage.Initialize();
            //ImageDetails
            fileName.Initialize();
            height.Initialize();
            width.Initialize();
            isProportional.Initialize();
            //Transformation Settings
            slider.Initialize();
            isInverted.Initialize();
            //Buttons
            addButton.Initialize();
            cancelButton.Initialize();
            filePicker.Initialize();
            testButton.Initialize();
            //Image Holders
            normalImageHolder.Initialize();
            grayscaleImageHolder.Initialize();
            blackWhiteImageHolder.Initialize();
        }
    }());

    $(document).ready(function () {
        AddPatternProperties.SetupPage();
    });
</script>
