@using Newtonsoft.Json
@using RainIt.Domain.DTO
@model RoutineDTO
@{
    ViewBag.Title = "Add Routine";
    var constraintParameters = ViewBag.ConstraintParameters as UploadConstraintParameters ?? new UploadConstraintParameters();
}
@Html.Partial("_Alert")
<div class="container">
    <div class="row">
        <div class="col-md-2">
            <div class="row">
                <div class="col-md-12">
                    <div class="input-group">
                        <label for="threshold" class="input-group-addon">
                            <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
                            <span class="sr-only">Name:</span>
                        </label>
                        <input type="text" class="form-control" id="routineName" placeholder="Name" value="@(Model == null? "": Model.Name)"/>
                    </div>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-12">
                    @if (Model == null || Model.RoutineId == 0)
                    {
                        <input type="button" value="Add" name="Add" id="addRoutine" class="btn btn-success"/>
                    }
                    else
                    {
                        <input type="button" value="Update" name="Update" id="addRoutine" class="btn btn-success"/>
                    }
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-12">
                    @using (Html.BeginForm("Index", "Routine", new {area = "Configuration"}, FormMethod.Get, new {@id = "cancelForm"}))
                    {
                    }
                    <input type="button" value="Cancel" name="Cancel" id="Cancel" class="btn btn-danger"/>
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-12">
                    @Html.Action("Multiselect", "Device", new {area = "Configuration"})
                </div>
            </div>
            <div class="row">
                &nbsp;
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" value="Test" name="Test" id="testButton" class="btn btn-primary"/>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div id="routine-builder" class="row shapeshift-gallery img-holder img-thumbnail">
                <div class="shapeshift-element img-drop img-dropper">
                    <div class="limit-view">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            @Html.Action("Library", "Pattern", new { area = "Configuration" })
        </div>
    </div>
</div>

    <script type="text/javascript">
    (function () {
        this.RoutineAddProperties = this.RoutineAddProperties || {};
        var passedImages = '@Html.Raw(Model != null ? JsonConvert.SerializeObject(Model.RoutinePatternDTOs) : null)';

        var repetitionsInput = (function () {
            var properties = {};

            function addSpinnerTo(element) {
                var spinnerHolder = $('<div>').attr("class", "caption img-repetitions");
                var repetitionsSpinner = $('<input type="text">');
                repetitionsSpinner.val(1);
                repetitionsSpinner.appendTo(spinnerHolder);
                repetitionsSpinner.spinner({
                    max: 5,
                    min: 1
                });
                spinnerHolder.appendTo(element);
            }

            properties.GetValue = function (shapeshiftElement) {
                return shapeshiftElement.find('.img-repetitions input').val();
            }
            properties.Initialize = function (element) {
                addSpinnerTo(element);
            }
            return properties;
        }());

        var deleteButton = (function () {
            var properties = {};

            properties.AddClickListenerTo = function (button) {
                if (button == undefined)
                    button = $('#routine-builder .sdelete-button');
                return button.click(function (e) {
                    $(e.currentTarget).closest('.shapeshift-element').detach();
                    $("#routine-builder").trigger("ss-added");
                    $('#routine-builder').trigger('ss-rearrange');
                });
            }

            function addButtonTo(element) {
                var deleteButton = $('<div>').attr("class", "delete-button pointer");
                properties.AddClickListenerTo(deleteButton);
                deleteButton.appendTo(element.find('.img-holder'));
            }

            properties.Initialize = function (element) {
                addButtonTo(element);
            }
            return properties;
        }());

        var routineBuilder = (function () {
            var properties = {};

            properties.GetRoutinePatterns = function () {
                var routinePatternArray = [];
                $('#routine-builder .shapeshift-element:not(".img-drop")').each(function (index) {
                    var element = $(this);
                    var patternId = element.find('.img-element').attr('data-pattern-id');
                    var spinnerValue = repetitionsInput.GetValue(element);
                    var routinePattern = {
                        Repetitions: spinnerValue,
                        PatternDTO: {
                            PatternId: patternId
                        }
                    };
                    routinePatternArray.push(routinePattern);
                });
                return routinePatternArray;
            }

            function createImage(image) {
                var imageToPlace = $('<img>').attr("src", image.PatternDTO.Path).attr("class", "img-element move").attr("data-orig-src", image.PatternDTO.Path).attr("data-pattern-id", image.PatternDTO.PatternId);
                var column = $('<div>').attr("class", "shapeshift-element");
                var imageHolder = $('<div>').attr("class", "limit-view img-holder img-thumbnail move");
                var deleteButton = $('<div>').attr("class", "delete-button pointer");
                deleteButton.appendTo(imageHolder);
                imageToPlace.appendTo(imageHolder);
                var caption = $('<div>').addClass("caption img-title").html("<p>" + image.PatternDTO.Name + "</p>").css("display", "none");
                imageHolder.appendTo(column);
                caption.appendTo(column);

                var spinnerHolder = $('<div>').attr("class", "caption img-repetitions input-group");
                var label = $('<label>').attr("for", "repetitions").addClass("input-group-addon");
                var spanIcon = $('<span>').addClass("glyphicon glyphicon-repeat").attr("aria-hidden", true);
                spanIcon.appendTo(label);
                label.appendTo(spinnerHolder);

                var repetitionsSpinner = $('<input type="text">').addClass("form-control");
                repetitionsSpinner.val(image.Repetitions);
                repetitionsSpinner.appendTo(spinnerHolder);
                repetitionsSpinner.spinner({
                    max: 5,
                    min: 1
                });
                spinnerHolder.appendTo(column);

                return column;
            }

            function initializeUserImages(passedImages) {
                $.each(passedImages, function (index, imageData) {
                    var container = $('#routine-builder');
                    var image = createImage(imageData);
                    image.appendTo(container);
                });
            }

            function revertHoverStatus(originalElement, clonedElement) {
                clonedElement.find('.img-element').attr('src', originalElement.find('.img-element').attr('data-orig-src'));
                clonedElement.find('.k-loading-mask').hide();
                clonedElement.find('.img-title').hide();
            }

            function rearrangeElements($shapeshiftContainer) {
                var imageDropper = $shapeshiftContainer.find('.shapeshift-element.img-dropper');
                imageDropper.detach();
                imageDropper.appendTo($shapeshiftContainer);
                $shapeshiftContainer.trigger('ss-rearrange');
            }

            function addRearrangeEventListener() {
                $('#routine-builder').on('ss-rearranged', function (e, element) {
                    var container = $(e.currentTarget);
                    rearrangeElements(container);
                });
            }
            function addAddEventListener() {
                $('#routine-builder').on('ss-added', function (e, element) {
                    if (element) {
                        var originalShapeshift = $(element);
                        var clonedShapeshift = $('.shapeshift-element').find('.img-element[data-pattern-id="' + originalShapeshift.find('.img-element').attr('data-pattern-id') + '"]').closest(".shapeshift-element").not('.img-copy');
                        revertHoverStatus(originalShapeshift, clonedShapeshift);
                        deleteButton.Initialize(originalShapeshift);
                        repetitionsInput.Initialize(originalShapeshift);
                        PatternIndexProperties.Gallery.ReattachHoverListeners();

                        var container = $(e.currentTarget);
                        rearrangeElements(container);
                    }
                    $('#routine-builder').trigger('ss-rearrange');
                });
            }

            properties.Initialize = function () {
                if (passedImages != '') {
                    initializeUserImages(JSON.parse(passedImages));
                }
                $('#routine-builder').shapeshift({
                    enableDrag: true,
                    enableCrossDrop: true,
                    selector: '.shapeshift-element',
                    gutterY: 50,
                    gutterX: 30
                });
                addAddEventListener();
                addRearrangeEventListener();
                deleteButton.AddClickListenerTo();
                image.Initialize();
                rearrangeElements($('#routine-builder'));
                $("#routine-builder").trigger("ss-added");
            }
            return properties;
        }());

        var image = (function () {
            var properties = {};
            var hasAjaxRunFor = [];

            function makeHoverAjaxCall(currentImageHolder) {
                var id = currentImageHolder.find('.img-element').attr("data-pattern-id");
                if (hasAjaxRunFor.indexOf(id) == -1) {
                    hasAjaxRunFor.push(id);
                    currentImageHolder.setAjaxLoadingAnimation();
                    var url = '@Url.Action("GetBlackWhiteFor", "Pattern", new {area = "Configuration", patternId = -1})';
                    url = url.replace("-1", id);
                    $.ajax({
                        url: url,
                        type: "GET",
                        contentType: "application/x-www-form-urlencoded",
                        success: function (data) {
                            var allImageHolders = $('.img-holder').find('.img-element[data-pattern-id="' + currentImageHolder.find('.img-element').attr('data-pattern-id') + '"]').closest('.img-holder');
                            allImageHolders.removeAjaxLoadingAnimation();
                            allImageHolders.children('.img-element').attr("data-bw-src", "data:image/png;base64," + data.blackWhiteFile);
                            if (currentImageHolder.is(":hover")) {
                                currentImageHolder.children('.img-element').attr("src", currentImageHolder.children('.img-element').attr("data-bw-src"));
                            }
                        }
                    });
                }
            }

            function hoverFunction(currentImageElement, mouseChangeFunction) {
                var originalSource = currentImageElement.attr("data-orig-src");
                var bwSource = currentImageElement.attr("data-bw-src");
                if (originalSource && bwSource) {
                    mouseChangeFunction(currentImageElement);
                }
            }

            function addHoverListener() {
                $('#routine-builder .img-holder:not(.img-dropper)').hover(function (e) {
                    var currentImageHolder = $(e.currentTarget);
                    currentImageHolder.children('.k-loading-mask').show();
                    if (currentImageHolder.children('.img-element').attr("data-bw-src") == undefined) {
                        makeHoverAjaxCall(currentImageHolder);
                    }
                    currentImageHolder.siblings('.img-title').show();
                },
                    function (e) {
                        var currentImageHolder = $(e.currentTarget);
                        currentImageHolder.children('.k-loading-mask').hide();
                        currentImageHolder.siblings('.img-title').hide();
                    });

                $('#routine-builder .img-element').hover(function (e) {
                    var currentImageElement = $(e.currentTarget);
                    hoverFunction(currentImageElement, function (currentImageElement) {
                        currentImageElement.attr("src", currentImageElement.attr("data-bw-src"));
                    });
                }, function (e) {
                    var currentImageElement = $(e.currentTarget);
                    hoverFunction(currentImageElement, function (currentImageElement) {
                        currentImageElement.attr("src", currentImageElement.attr("data-orig-src"));
                    });
                });
            }

            properties.Initialize = function () {
                addHoverListener();
            }
            return properties;
        }());

        var galleryExtender = (function () {
            var properties = {};

            var newParameters = {
                enableDrag: true,
                dragClone: true,
                cloneClass: "img-copy"
            }

            properties.Initialize = function () {
                var oldParameters = PatternIndexProperties.Gallery.Parameters;
                $.extend(oldParameters, newParameters);
                PatternIndexProperties.Gallery.Update(oldParameters);
                PatternIndexProperties.Gallery.DeleteImageAdder();
                PatternIndexProperties.Gallery.DeleteImageDeleter();
                PatternIndexProperties.Gallery.RemovePatternClickListener();
                PatternIndexProperties.Gallery.ChangeHoverCursor();
            }
            return properties;
        }());


        var multiselectExtender = (function () {
            var properties = {};
            var devices = '@Html.Raw(Model != null ? JsonConvert.SerializeObject(Model.DeviceDTOs) : null)';

            function getAssignedDeviceGuids(allDevices) {
                var selectedDeviceGuids = [];
                $.each(allDevices, function (index, deviceData) {
                    selectedDeviceGuids.push(deviceData.Identifier);
                });
                return selectedDeviceGuids;
            }

            properties.Initialize = function () {
                if (devices != "") {
                    var selectedDeviceGuids = getAssignedDeviceGuids(JSON.parse(devices));
                    DeviceMultiselectProperties.SelectDevices(selectedDeviceGuids);
                }
                $('#device-multiselect').siblings('.btn-group').find('button').click(function () {
                    $(this).parent().toggleClass('open');
                });
            }
            return properties;
        }());

        var addRoutine = (function () {
            var properties = {};

            function getPatternIdList() {
                var patternIdArrayList = [];
                $('#routine-builder').find('.img-holder').not('.img-dropper').each(function () {
                    var currentImageHolder = $(this);
                    patternIdArrayList.push(currentImageHolder.find(".img-element").attr("data-pattern-id"));
                });
                return patternIdArrayList;
            }

            function onAjaxSuccess(data) {
                window.location.href = data;
            }

            function getData() {
                return {
                    RoutineUploadModel: {
                        RoutineId: '@(Model != null ? Model.RoutineId : 0)',
                        DeviceIdentifierList: DeviceMultiselectProperties.GetSelectedDevices(),
                        Name: $('#routineName').val(),
                        RoutinePatternDTOList: routineBuilder.GetRoutinePatterns()
                    }
                };
            }

            function makeAddPatternAjaxCall() {
                $.ajax({
                    url: '@Url.Action("Add", "Routine", new {area = "Configuration"})',
                    data: getData(),
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    success: onAjaxSuccess
                });
            }

            properties.AddClickListener = function () {
                $('#addRoutine').click(function () {
                    AlertProperties.Hide();
                    if (validator.Validate(false)) {
                        makeAddPatternAjaxCall();
                    }
                });
            }
            return properties;
        }());

        var validator = (function () {
            var properties = {};

            function validateRoutineName(contentArray) {
                return  $('#routineName').val().trim() != "" && $('#routineName').val().trim().length <= Number('@constraintParameters.MaxNameLength') ? true : contentArray.push("A routine name must be specified with length less than " + '@constraintParameters.MaxNameLength' + " characters");
            }
            function validateNumberOfPatterns(contentArray) {
                var allRoutinePatterns = routineBuilder.GetRoutinePatterns();
                return allRoutinePatterns.length > 0 && allRoutinePatterns.length <= Number('@constraintParameters.MaxPatternCountPerRoutine') ? true : contentArray.push("The number of different patterns per routine must be between 1 and " + '@constraintParameters.MaxPatternCountPerRoutine');
            }

            function validateNumberOfRepetitions(contentArray) {
                var allRoutinePatterns = routineBuilder.GetRoutinePatterns();
                var isErrorFound = false;
                allRoutinePatterns.forEach(function (routinePattern) {
                    if (!isErrorFound) {
                        if (routinePattern.Repetitions < 1 || routinePattern.Repetitions > Number('@constraintParameters.MaxNumberOfRepetitionsPerPattern')) {
                            isErrorFound = true;
                        }
                    }
                });
                return !isErrorFound ? true : contentArray.push("The number of repetitions per pattern must between 1 and " + '@constraintParameters.MaxNumberOfRepetitionsPerPattern');
            }

            function validateDeviceSelection(contentArray) {
                var allDevices = DeviceMultiselectProperties.GetSelectedDevices();
                return allDevices.length > 0 ? true : contentArray.push("At least one device must be selected.");
            }

            properties.Validate = function (considerDeviceValidation) {
                var contentArray = [];
                var isNumberOfPatternsValid = validateNumberOfPatterns(contentArray);
                var isNumberOfRepetitionsValid = validateNumberOfRepetitions(contentArray);
                var isDeviceSelectionValid = !considerDeviceValidation || validateDeviceSelection(contentArray);
                var isRoutineNameValid = validateRoutineName(contentArray);

                if (contentArray.length > 0) {
                    AlertProperties.Initialize({ Class: "alert-danger", Content: contentArray });
                }
                return isNumberOfPatternsValid === true
                    && isNumberOfRepetitionsValid === true
                    && isDeviceSelectionValid === true
                    && isRoutineNameValid === true;
            }

            return properties;
        }());

        var testButton = (function () {
            var properties = {};

            function getPatternIdList() {
                var patternIdArrayList = [];
                $('#routine-builder').find('.img-holder').not('.img-dropper').each(function () {
                    var currentImageHolder = $(this);
                    patternIdArrayList.push(currentImageHolder.find(".img-element").attr("data-pattern-id"));
                });
                return patternIdArrayList;
            }

            function onAjaxSuccess(data) {
                if (!data.canSet.IsError) {
                    AlertProperties.Initialize({ Class: "alert-success", Content: [data.canSet.Message] });
                } else {
                    AlertProperties.Initialize({ Class: "alert-danger", Content: [data.canSet.Message] });
                }
            }

            function getData() {
                return {
                    RoutineUploadModel: {
                        DeviceIdentifierList: DeviceMultiselectProperties.GetSelectedDevices(),
                        RoutinePatternDTOList: routineBuilder.GetRoutinePatterns()
                    }
                };
            }

            function makeAjaxCall() {
                $.ajax({
                    url: '@Url.Action("Test", "Routine", new {area = "Configuration"})',
                    data: getData(),
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    success: onAjaxSuccess
                });
            }

            function addClickListener() {
                $('#testButton').click(function () {
                    AlertProperties.Hide();
                    if (validator.Validate(true)) {
                        makeAjaxCall();
                    }
                });
            }

            properties.Initialize = function () {
                addClickListener();
            }
            return properties;
        }());

        var cancelButton = (function () {
            var properties = {};
            function addClickListener() {
                $('#Cancel').click(function () {
                    $('#cancelForm').submit();
                });
            }
            properties.Initialize = function () {
                addClickListener();
            }
            return properties;
        }());

        RoutineAddProperties.SetupPage = function () {
            routineBuilder.Initialize();
            galleryExtender.Initialize();
            addRoutine.AddClickListener();
            multiselectExtender.Initialize();
            testButton.Initialize();
            cancelButton.Initialize();
        }
    }());
    $(document).ready(function () {
        RoutineAddProperties.SetupPage();
    });
</script>
