@model RainIt.Domain.DTO.UserDTO
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>
                    Edit Details
                </strong>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Username:&nbsp;</th>
                    <td>
                        @Html.TextBox("username", Model.Username, new { @class = "form-control", placeholder = "username" })
                    </td>
                </tr>
                <tr>
                    <th>Email:&nbsp;</th>
                    <td>
                        @Html.TextBox("e-mail", Model.Email, new {@class = "form-control", placeholder = "e-mail"})
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-success" id="save-information-button">Save</button>
            <button class="btn btn-danger" id="cancel-information-button">Cancel</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        this.EditInformationProperties = this.EditInformationProperties || {};
        var cancelButton = (function() {
            var properties = {};
            function onAjaxSuccess(data) {
                $('#user-information').html(data);
            }
            function onAjaxError() {

            }
            function makeAjaxCall() {
                $.ajax({
                    url: '@Url.Action("Information", "User", new{area ="Administration", userId = Model.UserId})',
                    type: "GET",
                    contentType: "application/x-www-form-urlencoded",
                    success: onAjaxSuccess,
                    error: onAjaxError
                });
            }
            function addClickListener() {
                $('#cancel-information-button').click(function () {
                    makeAjaxCall();
                });
            }
            properties.Initialize = function () {
                addClickListener();
            }
            return properties;
        }());
        var saveButton = (function () {
            var properties = {};
            function getData() {
                return {
                    UserId: '@Model.UserId',
                    Username: '@Model.Username',
                    Email: '@Model.Email'
                }
            }
            function onAjaxSuccess(data) {
                debugger;
                $('#user-information').html(data);
            }
            function onAjaxError() {

            }
            function makeAjaxCall() {
                $.ajax({
                    url: '@Url.Action("SaveInformation", "User", new{area ="Administration"})',
                    data: getData(),
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    success: onAjaxSuccess,
                    error: onAjaxError
                });
            }
            function addClickListener() {
                $('#save-information-button').click(function () {
                    makeAjaxCall();
                });
            }
            properties.Initialize = function () {
                addClickListener();
            }
            return properties;
        }());
        EditInformationProperties.SetupPage = function () {
            cancelButton.Initialize();
            saveButton.Initialize();
        }
    }());
    $(document).ready(function () {
        EditInformationProperties.SetupPage();
    });
</script>