@model RainIt.Domain.DTO.UserDTO
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>
                    Details
                </strong>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                <tr>
                    <th>Username:&nbsp;</th>
                    <td>@Html.Raw(Model.Username)</td>
                </tr>
                <tr>
                    <th>Name:&nbsp;</th>
                    <td>@Html.Raw(String.Format("{0} {1}", Model.UserInfo.FirstName, Model.UserInfo.LastName))</td>
                </tr>
                <tr>
                    <th>Email:&nbsp;</th>
                    <td>@Html.Raw(Model.Email)</td>
                </tr>
                <tr>
                    <th>DOB:&nbsp;</th>
                    <td>@Html.Raw(Model.UserInfo.BirthDate.ToString("d"))</td>
                </tr>
                <tr>
                    <th>Address:&nbsp;</th>
                    <td>
                        @Html.Raw(Model.Address.AddressLine1)
                        @if (Model.Address.AddressLine2 != String.Empty)
                        {
                            <br/>
                            @Html.Raw(Model.Address.AddressLine2)
                        }
                        @if (Model.Address.City != String.Empty || Model.Address.State != String.Empty)
                        {
                            <br/>
                            @Html.Raw(Model.Address.City)
                            if (Model.Address.State != String.Empty)
                            {
                                @Html.Raw((Model.Address.City != String.Empty ? ", " : String.Empty) + Model.Address.State)
                            }
                        }
                        @if (Model.Address.Country != String.Empty)
                        {
                            <br/>
                            @Html.Raw(Model.Address.Country)
                        }
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="btn btn-primary" id="edit-information-button">Edit</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {
        this.InformationProperties = this.InformationProperties || {};

        var editButton = (function () {
            var properties = {};
            function getData() {
                return {
                    UserId: '@Model.UserId',
                    Username: '@Model.Username',
                    Email: '@Model.Email'
                }
            }
            function onAjaxSuccess(data) {
                $('#user-information').html(data);
            }
            function onAjaxError() {

            }
            function makeAjaxCall() {
                $.ajax({
                    url: '@Url.Action("EditInformation", "User", new{area ="Administration"})',
                    data: getData(),
                    type: "POST",
                    contentType: "application/x-www-form-urlencoded",
                    success: onAjaxSuccess,
                    error: onAjaxError
                });
            }
            function addClickListener() {
                $('#edit-information-button').click(function () {
                    makeAjaxCall();
                });
            }
            properties.Initialize = function () {
                addClickListener();
            }
            return properties;
        }());
        InformationProperties.SetupPage = function () {
            editButton.Initialize();
        }
    }());
    $(document).ready(function () {
        InformationProperties.SetupPage();
    });
</script>