@model RainIt.Domain.DTO.UserSettingsDTO
<div class="row">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">
                <strong>
                    Settings
                </strong>
            </h3>
        </div>
        <div class="panel-body">
            <table class="table">
                <tbody>
                <tr>
                    <th rowspan="3">Pattern Upload</th>
                    <th>
                        Maximum width (px):&nbsp;
                    </th>
                    <td>
                        @Html.Raw(Model.MaxPatternPixelWidth)
                    </td>
                </tr>
                <tr>
                    <th>
                        Maximum height (px):&nbsp;
                    </th>
                    <td>
                        @Html.Raw(Model.MaxPatternPixelHeight)
                    </td>
                </tr>
                <tr>
                    <th>
                        Maximum size (byte):&nbsp;
                    </th>
                    <td>
                        @Html.Raw(Model.MaxPatternByteCount)
                    </td>
                </tr>
                <tr>
                    <th rowspan="2">Routine Creation</th>
                    <th>
                        Maximum number of patterns:&nbsp;
                    </th>
                    <td>
                        @Html.Raw(Model.MaxPatternCountPerRoutine)
                    </td>
                </tr>
                <tr>
                    <th>
                        Maximum repetition per pattern:&nbsp;
                    </th>
                    <td>
                        @Html.Raw(Model.MaxNumberOfRepetitionsPerPattern)
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
